:root {
    user-select: none;
    font-family: sans-serif;

    color: #232127;
    background-color: #ffffff;
}

.dark {
    color: #e5e3e8;
    background-color: #201c2b;
}

iframe {
    width: 100%;
    min-height: 360px;
    border: none;
}

#vodResults li img {
    float: left;
    margin-right: 1em;
    max-height: 5em;
}
